body{
    margin: 0px 20px 0px 10px;
    background-color: black;
}

.contenedor{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 3fr 2fr 3fr;
    gap: 5px;
}

/* Modificar los links */

a{
    text-decoration: none;
    color: white;
}

/* Headers con 2 Col */

.box1{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1/4;
    gap: 20px   ;
}

#logo-netflix{
    width: 120px;
    height: 70px;
}

.box2{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    grid-column: 4/6;
}

.derecha{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Parte central de la pagina */

.box3{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 30px;
    color: white;
    grid-column: 1/6;
}

.docu{
    width: 100%;
    border-radius: 5px;
}


