body{
    background-color: black;
    font-family: sans-serif;
}

.contenedor{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}


/* Modificar los links */

.link-menu{
    text-decoration: none;
    color: white;
}

.link-menu1{
    text-decoration: none;
    color: white;
}

/* Headers con 2 Col */

.header{
    display: flex;
    position: fixed;
    width: 100%;
}
.box1{
    width: 80vw;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

#logo-netflix{
    width: 140px;
}

.box2{
    width: 20vw;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
}

.derecha{
    width: 30px;
    cursor: pointer;
}


/* Parte central de la pagina */

.box3{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: xx-large;
    color: white;
    grid-column: 1/6;
}

.docu{
    width: 100%;
    border-radius: 5px;
}

@media (min-width: 361px){
    .menu1{
        display: none;
    }
    .movil{
        display: none;
    }
}
